
# ==================================================
*.7z
cifar2/cifar_train_images.npy
cifar2/fractal_maps_cifar_M8_S1.zip
cifar2/fractal_maps_cifar_resized_M8_S1.zip
cifar2/fractal_maps_cifar.zip
CIFAR2_HOG_thresh/CIFAR2_test_hog_bool.npy
CIFAR2_HOG_thresh/CIFAR2_test_thresh_bool.npy
CIFAR2_HOG_thresh/CIFAR2_train_3x3_bool.npy
CIFAR2_HOG_thresh/CIFAR2_train_4x4_bool.npy
CIFAR2_HOG_thresh/CIFAR2_train_hog_bool.npy
CIFAR2_HOG_thresh/CIFAR2_train_thresh_bool.npy
Composite_VanillaTM/
**/Compression/
.DS_Store
.env/
# Existing Git repositories
fmnist/fractal_maps_fmnist_M8_S1.zip
fmnist/fractal_maps_fmnist.zip
FMNIST_HOG_thresh/FMNIST_test_hog_bool.npy
FMNIST_HOG_thresh/FMNIST_test_thresh_bool.npy
FMNIST_HOG_thresh/FMNIST_train_hog_bool.npy
FMNIST_HOG_thresh/FMNIST_train_thresh_bool.npy
fmnist/X_test_fmnist.npy
fmnist/X_train_fmnist.npy
fractal_env/
fractal_env/lib/python3.12/site-packages/clang/native/libclang.so
fractal_env/lib/python3.12/site-packages/cv2/cv2.abi3.so
fractal_env/lib/python3.12/site-packages/tensorflow/libtensorflow_cc.so.2
fractal_env/lib/python3.12/site-packages/tensorflow/libtensorflow_framework.so.2
fractal_env/lib/python3.12/site-packages/tensorflow/python/profiler/internal/_pywrap_profiler_plugin.so
**/fractal_maps*/
**/fractal_maps_*
fractal_maps_isic_M64_S32.zip
**/fractal_maps*.zip
# Generated datasets
# Generated experiment outputs
# Generated fractal maps
HAM10000/fractal_maps_ham_M32_S8.zip
HAM10000/fractal_maps_M32_S4.zip
.ipynb_checkpoints/
ISIC2019/fractal_maps_isic_M8_S1.zip
# Large archives
# macOS
MNIST/fractal_maps_mnis_resized_M8_S1.zip
MNIST/fractal_maps_mnist_M8_S1.zip
MNIST_HOG_thresh/MNIST_test_hog_bool.npy
MNIST_HOG_thresh/MNIST_test_thresh_bool.npy
MNIST_HOG_thresh/MNIST_train_hog_bool.npy
MNIST_HOG_thresh/MNIST_train_thresh_bool.npy
MNIST/X_test.npy
MNIST/X_train.npy
**/Model_Saved/
*.npy
*.pyc
__pycache__/
# Python
**/runs/
runs/CL200_T10_S7.5_E50_20260621_225246/TA_STATE/TA_8820_200.txt
runs/CL200_T10_S7.5_E50_20260626_220724/TA_STATE/TA_20480_200.txt
runs/CL200_T20_S7.5_E50_20260623_225122/TA_STATE/TA_8820_200.txt
runs/CL200_T20_S7.5_E50_20260626_220927/TA_STATE/TA_20480_200.txt
ShellScripted_TA/Booleanized_Data/cifar2/M16_S1_bins3/X_test.npy
ShellScripted_TA/Booleanized_Data/cifar2/M16_S1_bins3/X_train.npy
ShellScripted_TA/Booleanized_Data/cifar2/M16_S1_bins8/X_test.npy
ShellScripted_TA/Booleanized_Data/cifar2/M16_S1_bins8/X_train.npy
ShellScripted_TA/Booleanized_Data/cifar2/M16_S1/X_test.npy
ShellScripted_TA/Booleanized_Data/cifar2/M16_S1/X_train.npy
ShellScripted_TA/Booleanized_Data/cifar2/M16_S4/X_train_bin_cifar.npy
ShellScripted_TA/Booleanized_Data/cifar2/M8_S1/X_test.npy
ShellScripted_TA/Booleanized_Data/cifar2/M8_S1/X_train.npy
ShellScripted_TA/Booleanized_Data/DS_CIFAR2_64/X_test.npy
ShellScripted_TA/Booleanized_Data/DS_CIFAR2_64/X_train.npy
ShellScripted_TA/Booleanized_Data/DS_FMNIST_64/X_test_fmnist.npy
ShellScripted_TA/Booleanized_Data/DS_FMNIST_64/X_train_fmnist.npy
ShellScripted_TA/Booleanized_Data/DS_ISIC2019_64/M8_S1/X_test.npy
ShellScripted_TA/Booleanized_Data/DS_ISIC2019_64/M8_S1/X_train.npy
ShellScripted_TA/Booleanized_Data/DS_MNIST_64/X_test.npy
ShellScripted_TA/Booleanized_Data/DS_MNIST_64/X_train.npy
ShellScripted_TA/Booleanized_Data/fmnist/M16_S1/X_test_fmnist.npy
ShellScripted_TA/Booleanized_Data/fmnist/M16_S1/X_train_fmnist.npy
ShellScripted_TA/Booleanized_Data/global_binning/M32_S8/X_test.npy
ShellScripted_TA/Booleanized_Data/global_binning/M32_S8/X_train.npy
ShellScripted_TA/Booleanized_Data/ham_global_binned_on_isic/M32_S8/X_test_ham.npy
ShellScripted_TA/Booleanized_Data/ISIC2019/global_binning/M32_S8/X_test.npy
ShellScripted_TA/Booleanized_Data/ISIC2019/global_binning/M32_S8/X_train.npy
ShellScripted_TA/Booleanized_Data/M32_S8/X_test.npy
ShellScripted_TA/Booleanized_Data/M32_S8/X_train.npy
ShellScripted_TA/Booleanized_Data/mnist/M16_S1/X_test.npy
ShellScripted_TA/Booleanized_Data/mnist/M16_S1/X_train.npy
ShellScripted_TA/Booleanized_Data/mnist/M8_S1/X_test.npy
ShellScripted_TA/Booleanized_Data/mnist/M8_S1/X_train.npy
ShellScripted_TA/Booleanized_Data/Oversampled_Booleanzed_Data/M32_S8/X_test.npy
ShellScripted_TA/Booleanized_Data/Oversampled_Booleanzed_Data/M32_S8/X_train_bal.npy
ShellScripted_TA/Booleanized_Data/Oversampled_Booleanzed_Data/M32_S8/X_train.npy
ShellScripted_TA/Compression/CIFAR2/Fractal/inference_literals_fractal.h
ShellScripted_TA/Compression/CIFAR2/fractal_test.txt
ShellScripted_TA/Compression/CIFAR2/Fractal/TM_Data_data_store.h
ShellScripted_TA/Compression/CIFAR2/Thresh/inference_literals_thresh.h
ShellScripted_TA/Compression/CIFAR2/thresh_test.txt
ShellScripted_TA/Compression/CIFAR2/Thresh/TM_Data_data_store.h
ShellScripted_TA/Compression/CIFAR2/Thresh/TM_Data_REDRESS_Testfile10000.txt
ShellScripted_TA/Compression/FMNIST/fractal_test.txt
ShellScripted_TA/Compression/FMNIST/Fractal/TM_Data_data_store.h
ShellScripted_TA/Compression/FMNIST/hog_test.txt
ShellScripted_TA/Compression/FMNIST/hog/TM_Data_data_store.h
ShellScripted_TA/Compression/FMNIST/thresh/inference_literals_thresh.h
ShellScripted_TA/Compression/FMNIST/thresh_test.txt
ShellScripted_TA/Compression/FMNIST/thresh/TM_Data_data_store.h
ShellScripted_TA/Compression/ISIC2019/fractal_test.txt
ShellScripted_TA/Compression/ISIC2019/fractal/TM_Data_data_store.h
ShellScripted_TA/Compression/ISIC2019/hog_test.txt
ShellScripted_TA/Compression/ISIC2019/thresh_test.txt
ShellScripted_TA/Compression/ISIC2019/Thresh/TM_Data_data_store.h
ShellScripted_TA/Compression/MNIST/fractal_test.txt
ShellScripted_TA/Compression/MNIST/Fractal/TM_Data_data_store.h
ShellScripted_TA/Compression/MNIST/hog_test.txt
ShellScripted_TA/Compression/MNIST/HOG/TM_Data_data_store.h
ShellScripted_TA/Compression/MNIST/thresh_test.txt
ShellScripted_TA/Compression/MNIST/Thresh/TM_Data_data_store.h
ShellScripted_TA/Compression.tar.gz
ShellScripted_TA/Datasets/CIFAR2/dataset/cifar_train_images.npy
ShellScripted_TA/Model_Saved/HAM10000/M32_S8_Clause1000_T10_S7.5_Epoch20/tm_class0.bin
ShellScripted_TA/Model_Saved/HAM10000/M32_S8_Clause1000_T10_S7.5_Epoch20/tm_class1.bin
ShellScripted_TA/Model_Saved/HAM10000/M32_S8_Clause1000_T50_S7.5_Epoch2/tm_class0.bin
ShellScripted_TA/Model_Saved/HAM10000/M32_S8_Clause1000_T50_S7.5_Epoch2/tm_class1.bin
ShellScripted_TA/Model_Saved/HAM10000/oversampled/M32_S8_Clause800_T10_S7.5_Epoch20/tm_class0.bin
ShellScripted_TA/Model_Saved/HAM10000/oversampled/M32_S8_Clause800_T10_S7.5_Epoch20/tm_class1.bin
ShellScripted_TA/Model_Saved/ISIC2019/global_binning/M32_S8_Clause800_T25_S10_Epoch25/tm_class0.bin
ShellScripted_TA/Model_Saved/ISIC2019/global_binning/M32_S8_Clause800_T25_S10_Epoch25/tm_class1.bin
ShellScripted_TA/runs/cifar2/cifar2_M16_S1.zip
ShellScripted_TA/runs/CL2500_T30_S7.5_E30_20260621_011124/Model_Saved/tm_class0.bin
ShellScripted_TA/runs/CL2500_T30_S7.5_E30_20260621_011124/Model_Saved/tm_class1.bin
ShellScripted_TA/runs/CL2500_T30_S7.5_E30_20260621_011124/Model_Saved/tm_class2.bin
ShellScripted_TA/runs/CL2500_T30_S7.5_E30_20260621_011124/Model_Saved/tm_class3.bin
ShellScripted_TA/runs/CL2500_T30_S7.5_E30_20260621_011124/Model_Saved/tm_class4.bin
ShellScripted_TA/runs/CL2500_T30_S7.5_E30_20260621_011124/Model_Saved/tm_class5.bin
ShellScripted_TA/runs/CL2500_T30_S7.5_E30_20260621_011124/Model_Saved/tm_class6.bin
ShellScripted_TA/runs/CL2500_T30_S7.5_E30_20260621_011124/Model_Saved/tm_class7.bin
ShellScripted_TA/runs/CL2500_T30_S7.5_E30_20260621_011124/Model_Saved/tm_class8.bin
ShellScripted_TA/runs/CL2500_T30_S7.5_E30_20260621_011124/Model_Saved/tm_class9.bin
ShellScripted_TA/runs/CL2500_T30_S7.5_E30_20260621_011124/TA_STATE/TA_16245_2500.txt
ShellScripted_TA/runs/CL2500_T30_S7.5_E30_20260621_011812/Model_Saved/tm_class0.bin
ShellScripted_TA/runs/CL2500_T30_S7.5_E30_20260621_011812/Model_Saved/tm_class1.bin
ShellScripted_TA/runs/CL2500_T30_S7.5_E30_20260621_011812/Model_Saved/tm_class2.bin
ShellScripted_TA/runs/CL2500_T30_S7.5_E30_20260621_011812/Model_Saved/tm_class3.bin
ShellScripted_TA/runs/CL2500_T30_S7.5_E30_20260621_011812/Model_Saved/tm_class4.bin
ShellScripted_TA/runs/CL2500_T30_S7.5_E30_20260621_011812/Model_Saved/tm_class5.bin
ShellScripted_TA/runs/CL2500_T30_S7.5_E30_20260621_011812/Model_Saved/tm_class6.bin
ShellScripted_TA/runs/CL2500_T30_S7.5_E30_20260621_011812/Model_Saved/tm_class7.bin
ShellScripted_TA/runs/CL2500_T30_S7.5_E30_20260621_011812/Model_Saved/tm_class8.bin
ShellScripted_TA/runs/CL2500_T30_S7.5_E30_20260621_011812/Model_Saved/tm_class9.bin
ShellScripted_TA/runs/CL2500_T30_S7.5_E30_20260621_011812/TA_STATE/TA_16245_2500.txt
ShellScripted_TA/runs/CL400_T20_S7.5_E30_20260621_011345/TA_STATE/TA_16245_400.txt
ShellScripted_TA/runs/DS_ISIC_2019_64/CL1000_T25_S10_E30_20260611_123829/Model_Saved/tm_class0.bin
ShellScripted_TA/runs/DS_ISIC_2019_64/CL1000_T25_S10_E30_20260611_123829/Model_Saved/tm_class1.bin
ShellScripted_TA/runs/DS_ISIC_2019_64/CL1000_T25_S10_E30_20260611_123829/TA_STATE/TA_16245_1000.txt
ShellScripted_TA/runs/DS_ISIC_2019_64/CL1000_T30_S10_E30_20260611_123843/Model_Saved/tm_class0.bin
ShellScripted_TA/runs/DS_ISIC_2019_64/CL1000_T30_S10_E30_20260611_123843/Model_Saved/tm_class1.bin
ShellScripted_TA/runs/DS_ISIC_2019_64/CL1000_T30_S10_E30_20260611_123843/TA_STATE/TA_16245_1000.txt
ShellScripted_TA/runs/DS_ISIC_2019_64/CL1000_T30_S7.5_E1_20260427_155405/Model_Saved/tm_class0.bin
ShellScripted_TA/runs/DS_ISIC_2019_64/CL1000_T30_S7.5_E1_20260427_155405/Model_Saved/tm_class1.bin
ShellScripted_TA/runs/DS_ISIC_2019_64/CL1000_T30_S7.5_E1_20260427_155405/TA_STATE/TA_16245_1000.txt
ShellScripted_TA/runs/DS_ISIC_2019_64/CL1000_T35_S10_E30_20260611_123851/Model_Saved/tm_class0.bin
ShellScripted_TA/runs/DS_ISIC_2019_64/CL1000_T35_S10_E30_20260611_123851/Model_Saved/tm_class1.bin
ShellScripted_TA/runs/DS_ISIC_2019_64/CL1000_T35_S10_E30_20260611_123851/TA_STATE/TA_16245_1000.txt
ShellScripted_TA/runs/DS_ISIC_2019_64/CL1000_T40_S10_E30_20260611_123902/Model_Saved/tm_class0.bin
ShellScripted_TA/runs/DS_ISIC_2019_64/CL1000_T40_S10_E30_20260611_123902/Model_Saved/tm_class1.bin
ShellScripted_TA/runs/DS_ISIC_2019_64/CL1000_T40_S10_E30_20260611_123902/TA_STATE/TA_16245_1000.txt
ShellScripted_TA/runs/DS_ISIC_2019_64/CL1000_T45_S10_E30_20260611_123908/Model_Saved/tm_class0.bin
ShellScripted_TA/runs/DS_ISIC_2019_64/CL1000_T45_S10_E30_20260611_123908/Model_Saved/tm_class1.bin
ShellScripted_TA/runs/DS_ISIC_2019_64/CL1000_T45_S10_E30_20260611_123908/TA_STATE/TA_16245_1000.txt
ShellScripted_TA/runs/DS_ISIC_2019_64/CL1500_T10_S7.5_E30_20260427_140742/Model_Saved/tm_class0.bin
ShellScripted_TA/runs/DS_ISIC_2019_64/CL1500_T10_S7.5_E30_20260427_140742/Model_Saved/tm_class1.bin
ShellScripted_TA/runs/DS_ISIC_2019_64/CL1500_T10_S7.5_E30_20260427_140742/TA_STATE/TA_16245_1500.txt
ShellScripted_TA/runs/DS_ISIC_2019_64/CL1500_T20_S7.5_E30_20260427_140850/Model_Saved/tm_class0.bin
ShellScripted_TA/runs/DS_ISIC_2019_64/CL1500_T20_S7.5_E30_20260427_140850/Model_Saved/tm_class1.bin
ShellScripted_TA/runs/DS_ISIC_2019_64/CL1500_T20_S7.5_E30_20260427_140850/TA_STATE/TA_16245_1500.txt
ShellScripted_TA/runs/DS_ISIC_2019_64/CL1500_T25_S7.5_E30_20260427_140917/Model_Saved/tm_class0.bin
ShellScripted_TA/runs/DS_ISIC_2019_64/CL1500_T25_S7.5_E30_20260427_140917/Model_Saved/tm_class1.bin
ShellScripted_TA/runs/DS_ISIC_2019_64/CL1500_T25_S7.5_E30_20260427_140917/TA_STATE/TA_16245_1500.txt
ShellScripted_TA/runs/DS_ISIC_2019_64/CL1500_T30_S7.5_E30_20260427_140909/Model_Saved/tm_class0.bin
ShellScripted_TA/runs/DS_ISIC_2019_64/CL1500_T30_S7.5_E30_20260427_140909/Model_Saved/tm_class1.bin
ShellScripted_TA/runs/DS_ISIC_2019_64/CL1500_T30_S7.5_E30_20260427_140909/TA_STATE/TA_16245_1500.txt
ShellScripted_TA/runs/DS_ISIC_2019_64/CL1500_T35_S7.5_E30_20260427_140933/Model_Saved/tm_class0.bin
ShellScripted_TA/runs/DS_ISIC_2019_64/CL1500_T35_S7.5_E30_20260427_140933/Model_Saved/tm_class1.bin
ShellScripted_TA/runs/DS_ISIC_2019_64/CL1500_T35_S7.5_E30_20260427_140933/TA_STATE/TA_16245_1500.txt
ShellScripted_TA/runs/DS_ISIC_2019_64/CL1500_T50_S7.5_E20_20260427_192314/Model_Saved/tm_class0.bin
ShellScripted_TA/runs/DS_ISIC_2019_64/CL1500_T50_S7.5_E20_20260427_192314/Model_Saved/tm_class1.bin
ShellScripted_TA/runs/DS_ISIC_2019_64/CL1500_T50_S7.5_E20_20260427_192314/TA_STATE/TA_16245_1500.txt
ShellScripted_TA/runs/DS_ISIC_2019_64/CL2000_T10_S5_E50_20260604_141525/Model_Saved/tm_class0.bin
ShellScripted_TA/runs/DS_ISIC_2019_64/CL2000_T10_S5_E50_20260604_141525/Model_Saved/tm_class1.bin
ShellScripted_TA/runs/DS_ISIC_2019_64/CL2000_T10_S5_E50_20260604_141525/TA_STATE/TA_16245_2000.txt
ShellScripted_TA/runs/DS_ISIC_2019_64/CL2000_T20_S5_E50_20260604_141543/Model_Saved/tm_class0.bin
ShellScripted_TA/runs/DS_ISIC_2019_64/CL2000_T20_S5_E50_20260604_141543/Model_Saved/tm_class1.bin
ShellScripted_TA/runs/DS_ISIC_2019_64/CL2000_T20_S5_E50_20260604_141543/TA_STATE/TA_16245_2000.txt
ShellScripted_TA/runs/DS_ISIC_2019_64/CL2000_T30_S5_E50_20260604_141554/Model_Saved/tm_class0.bin
ShellScripted_TA/runs/DS_ISIC_2019_64/CL2000_T30_S5_E50_20260604_141554/Model_Saved/tm_class1.bin
ShellScripted_TA/runs/DS_ISIC_2019_64/CL2000_T30_S5_E50_20260604_141554/TA_STATE/TA_16245_2000.txt
ShellScripted_TA/runs/DS_ISIC_2019_64/CL2000_T30_S7.5_E30_20260429_184637/Model_Saved/tm_class0.bin
ShellScripted_TA/runs/DS_ISIC_2019_64/CL2000_T30_S7.5_E30_20260429_184637/Model_Saved/tm_class1.bin
ShellScripted_TA/runs/DS_ISIC_2019_64/CL2000_T30_S7.5_E30_20260429_184637/TA_STATE/TA_16245_2000.txt
ShellScripted_TA/runs/DS_ISIC_2019_64/CL2000_T40_S5_E50_20260604_141605/Model_Saved/tm_class0.bin
ShellScripted_TA/runs/DS_ISIC_2019_64/CL2000_T40_S5_E50_20260604_141605/Model_Saved/tm_class1.bin
ShellScripted_TA/runs/DS_ISIC_2019_64/CL2000_T40_S5_E50_20260604_141605/TA_STATE/TA_16245_2000.txt
ShellScripted_TA/runs/DS_ISIC_2019_64/CL2000_T40_S7.5_E30_20260429_184646/Model_Saved/tm_class0.bin
ShellScripted_TA/runs/DS_ISIC_2019_64/CL2000_T40_S7.5_E30_20260429_184646/Model_Saved/tm_class1.bin
ShellScripted_TA/runs/DS_ISIC_2019_64/CL2000_T40_S7.5_E30_20260429_184646/TA_STATE/TA_16245_2000.txt
ShellScripted_TA/runs/DS_ISIC_2019_64/CL2000_T45_S7.5_E30_20260429_184656/Model_Saved/tm_class0.bin
ShellScripted_TA/runs/DS_ISIC_2019_64/CL2000_T45_S7.5_E30_20260429_184656/Model_Saved/tm_class1.bin
ShellScripted_TA/runs/DS_ISIC_2019_64/CL2000_T45_S7.5_E30_20260429_184656/TA_STATE/TA_16245_2000.txt
ShellScripted_TA/runs/DS_ISIC_2019_64/CL2000_T50_S5_E50_20260604_141621/Model_Saved/tm_class0.bin
ShellScripted_TA/runs/DS_ISIC_2019_64/CL2000_T50_S5_E50_20260604_141621/Model_Saved/tm_class1.bin
ShellScripted_TA/runs/DS_ISIC_2019_64/CL2000_T50_S5_E50_20260604_141621/TA_STATE/TA_16245_2000.txt
ShellScripted_TA/runs/DS_ISIC_2019_64/CL2000_T50_S7.5_E30_20260429_184709/Model_Saved/tm_class0.bin
ShellScripted_TA/runs/DS_ISIC_2019_64/CL2000_T50_S7.5_E30_20260429_184709/Model_Saved/tm_class1.bin
ShellScripted_TA/runs/DS_ISIC_2019_64/CL2000_T50_S7.5_E30_20260429_184709/TA_STATE/TA_16245_2000.txt
ShellScripted_TA/runs/DS_ISIC_2019_64/CL2000_T60_S7.5_E30_20260508_123640/Model_Saved/tm_class0.bin
ShellScripted_TA/runs/DS_ISIC_2019_64/CL2000_T60_S7.5_E30_20260508_123640/Model_Saved/tm_class1.bin
ShellScripted_TA/runs/DS_ISIC_2019_64/CL2000_T60_S7.5_E30_20260508_123640/TA_STATE/TA_16245_2000.txt
ShellScripted_TA/runs/DS_ISIC_2019_64/CL2000_T70_S7.5_E30_20260508_123700/Model_Saved/tm_class0.bin
ShellScripted_TA/runs/DS_ISIC_2019_64/CL2000_T70_S7.5_E30_20260508_123700/Model_Saved/tm_class1.bin
ShellScripted_TA/runs/DS_ISIC_2019_64/CL2000_T70_S7.5_E30_20260508_123700/TA_STATE/TA_16245_2000.txt
ShellScripted_TA/runs/DS_ISIC_2019_64/CL2000_T80_S7.5_E30_20260508_123754/Model_Saved/tm_class0.bin
ShellScripted_TA/runs/DS_ISIC_2019_64/CL2000_T80_S7.5_E30_20260508_123754/Model_Saved/tm_class1.bin
ShellScripted_TA/runs/DS_ISIC_2019_64/CL2000_T80_S7.5_E30_20260508_123754/TA_STATE/TA_16245_2000.txt
ShellScripted_TA/runs/DS_ISIC_2019_64/CL2000_T90_S7.5_E30_20260508_123854/Model_Saved/tm_class0.bin
ShellScripted_TA/runs/DS_ISIC_2019_64/CL2000_T90_S7.5_E30_20260508_123854/Model_Saved/tm_class1.bin
ShellScripted_TA/runs/DS_ISIC_2019_64/CL2000_T90_S7.5_E30_20260508_123854/TA_STATE/TA_16245_2000.txt
ShellScripted_TA/runs/DS_ISIC_2019_64/CL500_T10_S5_E30_20260608_180322/TA_STATE/TA_16245_500.txt
ShellScripted_TA/runs/DS_ISIC_2019_64/CL500_T20_S5_E30_20260608_180400/TA_STATE/TA_16245_500.txt
ShellScripted_TA/runs/DS_ISIC_2019_64/CL500_T30_S5_E30_20260608_180420/TA_STATE/TA_16245_500.txt
ShellScripted_TA/runs/DS_ISIC_2019_64/CL500_T40_S5_E30_20260608_180539/TA_STATE/TA_16245_500.txt
ShellScripted_TA/runs/DS_ISIC_2019_64/CL500_T50_S5_E30_20260608_180628/TA_STATE/TA_16245_500.txt
ShellScripted_TA/runs/DS_ISIC_2019_64/CL500_T60_S5_E30_20260608_180829/TA_STATE/TA_16245_500.txt
ShellScripted_TA/runs/DS_ISIC_2019_64/CL800_T40_S7.5_E30_20260428_180157/TA_STATE/TA_16245_800.txt
ShellScripted_TA/runs/ISIC2019/CL1000_T20_S10_E30_135901/Model_Saved/tm_class0.bin
ShellScripted_TA/runs/ISIC2019/CL1000_T20_S10_E30_135901/Model_Saved/tm_class1.bin
ShellScripted_TA/runs/ISIC2019/CL1000_T20_S10_E30_135901/TA_STATE/TA_19080_1000.txt
ShellScripted_TA/runs/ISIC2019/CL1000_T25_S10_E30_135952/Model_Saved/tm_class0.bin
ShellScripted_TA/runs/ISIC2019/CL1000_T25_S10_E30_135952/Model_Saved/tm_class1.bin
ShellScripted_TA/runs/ISIC2019/CL1000_T25_S10_E30_135952/TA_STATE/TA_19080_1000.txt
ShellScripted_TA/runs/ISIC2019/CL600_T20_S10_E20_180147/TA_STATE/TA_19080_600.txt
ShellScripted_TA/runs/ISIC2019/CL600_T25_S10_E20_180230/TA_STATE/TA_19080_600.txt
ShellScripted_TA/runs/ISIC2019/CL800_T20_S10_E20_180211/Model_Saved/tm_class0.bin
ShellScripted_TA/runs/ISIC2019/CL800_T20_S10_E20_180211/Model_Saved/tm_class1.bin
ShellScripted_TA/runs/ISIC2019/CL800_T20_S10_E20_180211/TA_STATE/TA_19080_800.txt
ShellScripted_TA/runs/ISIC2019/CL800_T20_S12_E20_135929/Model_Saved/tm_class0.bin
ShellScripted_TA/runs/ISIC2019/CL800_T20_S12_E20_135929/Model_Saved/tm_class1.bin
ShellScripted_TA/runs/ISIC2019/CL800_T20_S12_E20_135929/TA_STATE/TA_19080_800.txt
ShellScripted_TA/runs/ISIC2019/CL800_T22_S10_E20_135914/Model_Saved/tm_class0.bin
ShellScripted_TA/runs/ISIC2019/CL800_T22_S10_E20_135914/Model_Saved/tm_class1.bin
ShellScripted_TA/runs/ISIC2019/CL800_T22_S10_E20_135914/TA_STATE/TA_19080_800.txt
ShellScripted_TA/runs/ISIC2019/CL800_T25_S10_E25_180248/Model_Saved/tm_class0.bin
ShellScripted_TA/runs/ISIC2019/CL800_T25_S10_E25_180248/Model_Saved/tm_class1.bin
ShellScripted_TA/runs/ISIC2019/CL800_T25_S10_E25_180248/TA_STATE/TA_19080_800.txt
ShellScripted_TA/runs/MNIST/M16_S1/CL1500_T50_S5_E30_20260419_182227/TA_STATE/TA_845_1500.txt
ShellScripted_TA/runs/MNIST/M16_S1/CL1500_T70_S5_E30_20260419_182307/TA_STATE/TA_845_1500.txt
ShellScripted_TA/runs/MNIST/M16_S1/CL2000_T15_S7.5_E30_20260420_192847/TA_STATE/TA_845_2000.txt
ShellScripted_TA/runs/MNIST/M16_S1/CL2000_T20_S7.5_E30_20260420_192858/TA_STATE/TA_845_2000.txt
ShellScripted_TA/runs/MNIST/M16_S1/CL2000_T25_S7.5_E30_20260420_192906/TA_STATE/TA_845_2000.txt
ShellScripted_TA/runs/MNIST/M16_S1/CL2000_T30_S7.5_E30_20260420_192914/TA_STATE/TA_845_2000.txt
ShellScripted_TA/runs/MNIST/M16_S1/CL2000_T35_S7.5_E30_20260420_192923/TA_STATE/TA_845_2000.txt
ShellScripted_TA/runs/MNIST/M16_S1/CL2000_T40_S7.5_E30_20260420_192932/TA_STATE/TA_845_2000.txt
ShellScripted_TA/runs/MNIST/M16_S1/CL2000_T45_S7.5_E30_20260420_192942/TA_STATE/TA_845_2000.txt
ShellScripted_TA/runs/MNIST/M16_S1/CL2000_T50_S7.5_E30_20260420_192950/TA_STATE/TA_845_2000.txt
ShellScripted_TA/runs/MNIST/M16_S1/CL2000_T55_S7.5_E30_20260420_193004/TA_STATE/TA_845_2000.txt
ShellScripted_TA/runs/MNIST/M8_S1/CL2000_T20_S5_E30_20260422_161137/TA_STATE/TA_2205_2000.txt
ShellScripted_TA/runs/MNIST/M8_S1/CL2000_T20_S7.5_E30_20260422_160132/TA_STATE/TA_2205_2000.txt
ShellScripted_TA/runs/MNIST/M8_S1/CL2000_T25_S7.5_E30_20260422_160143/TA_STATE/TA_2205_2000.txt
ShellScripted_TA/runs/MNIST/M8_S1/CL2000_T30_S10_E50_20260424_145318/TA_STATE/TA_2205_2000.txt
ShellScripted_TA/runs/MNIST/M8_S1/CL2000_T30_S12.5_E50_20260424_145326/TA_STATE/TA_2205_2000.txt
ShellScripted_TA/runs/MNIST/M8_S1/CL2000_T30_S5_E30_20260422_161331/TA_STATE/TA_2205_2000.txt
ShellScripted_TA/runs/MNIST/M8_S1/CL2000_T30_S7.5_E30_20260422_160153/TA_STATE/TA_2205_2000.txt
ShellScripted_TA/runs/MNIST/M8_S1/CL2000_T30_S7.5_E50_20260424_145305/TA_STATE/TA_2205_2000.txt
ShellScripted_TA/runs/MNIST/M8_S1/CL2000_T35_S7.5_E30_20260422_160200/TA_STATE/TA_2205_2000.txt
ShellScripted_TA/runs/MNIST/M8_S1/CL2000_T40_S7.5_E30_20260422_160212/TA_STATE/TA_2205_2000.txt
ShellScripted_TA/runs/MNIST/M8_S1/CL2000_T45_S7.5_E30_20260422_160232/TA_STATE/TA_2205_2000.txt
ShellScripted_TA/runs/MNIST/M8_S1/CL2000_T50_S7.5_E30_20260422_160240/TA_STATE/TA_2205_2000.txt
ShellScripted_TA/runs/MNIST/M8_S1/CL2000_T55_S7.5_E30_20260422_160246/TA_STATE/TA_2205_2000.txt
ShellScripted_TA/runs/MNIST/M8_S1/CL2000_T60_S7.5_E30_20260422_160346/TA_STATE/TA_2205_2000.txt
ShellScripted_TA/runs/TEST:HAM,TRAIN:ISIC2019/CL1000_T20_S10_E30_172420/Model_Saved/tm_class0.bin
ShellScripted_TA/runs/TEST:HAM,TRAIN:ISIC2019/CL1000_T20_S10_E30_172420/Model_Saved/tm_class1.bin
ShellScripted_TA/runs/TEST:HAM,TRAIN:ISIC2019/CL1000_T20_S10_E30_172420/TA_STATE/TA_19080_1000.txt
ShellScripted_TA/runs/TEST:HAM,TRAIN:ISIC2019/CL1000_T25_S10_E30_172528/Model_Saved/tm_class0.bin
ShellScripted_TA/runs/TEST:HAM,TRAIN:ISIC2019/CL1000_T25_S10_E30_172528/Model_Saved/tm_class1.bin
ShellScripted_TA/runs/TEST:HAM,TRAIN:ISIC2019/CL1000_T25_S10_E30_172528/TA_STATE/TA_19080_1000.txt
ShellScripted_TA/runs/TEST:HAM,TRAIN:ISIC2019/CL800_T20_S12_E20_172556/Model_Saved/tm_class0.bin
ShellScripted_TA/runs/TEST:HAM,TRAIN:ISIC2019/CL800_T20_S12_E20_172556/Model_Saved/tm_class1.bin
ShellScripted_TA/runs/TEST:HAM,TRAIN:ISIC2019/CL800_T20_S12_E20_172556/TA_STATE/TA_19080_800.txt
ShellScripted_TA/runs/TEST:HAM,TRAIN:ISIC2019/CL800_T22_S10_E20_172450/Model_Saved/tm_class0.bin
ShellScripted_TA/runs/TEST:HAM,TRAIN:ISIC2019/CL800_T22_S10_E20_172450/Model_Saved/tm_class1.bin
ShellScripted_TA/runs/TEST:HAM,TRAIN:ISIC2019/CL800_T22_S10_E20_172450/TA_STATE/TA_19080_800.txt
ShellScripted_TA/TA_STATE/HAM10000/global_binning/M32_S8_Clause400_T30_S10_Epoch100.txt
ShellScripted_TA/TA_STATE/HAM10000/M32_S8_Clause1000_T10_S7.5_Epoch20/TA_19080_1000.txt
ShellScripted_TA/TA_STATE/HAM10000/M32_S8_Clause1000_T50_S7.5_Epoch2/TA_19080_1000.txt
ShellScripted_TA/TA_STATE/HAM10000/M32_S8_Clause200_T10_S7.5_Epoch2/TA_19080_200.txt
ShellScripted_TA/TA_STATE/HAM10000/M32_S8_Clause400_T30_S10_Epoch100.txt
ShellScripted_TA/TA_STATE/HAM10000/oversampled/M32_S8_Clause400_T30_S10_Epoch100.txt
ShellScripted_TA/TA_STATE/HAM10000/oversampled/M32_S8_Clause500_T15_S7.5_Epoch15/TA_19080_500.txt
ShellScripted_TA/TA_STATE/HAM10000/oversampled/M32_S8_Clause800_T10_S7.5_Epoch20/TA_19080_800.txt
ShellScripted_TA/TA_STATE/ISIC2019/global_binning/M32_S8_Clause400_T20_S10_Epoch20.txt
ShellScripted_TA/TA_STATE/ISIC2019/global_binning/M32_S8_Clause600_T15_S7.5_Epoch20.txt
ShellScripted_TA/TA_STATE/ISIC2019/global_binning/M32_S8_Clause600_T20_S10_Epoch20.txt
ShellScripted_TA/TA_STATE/ISIC2019/global_binning/M32_S8_Clause800_T25_S10_Epoch25.txt
*.tar
*.tar.gz
**/TA_STATE/
venv/
# Virtual environments
*.zip
